{% extends 'FocusApp/base.html' %}

{% block title %}
<title>thank you page</title>
{% endblock %}



{% block navbar %}

  <form class="form-inline my-2 my-lg-0">

      <li class="nav-item list-unstyled col-md-6">
          <button class="btn  col-md-offset-2" style="background-color: #14328f;color: white; padding: 3px 10px; font-size:20px;" type="button" onclick="location.href='{% url 'login-page'%}'">Login</button>
      </li>
  </form>
{% endblock %}

{% block content %}
    <div class="container text-center">
    <p  style=" background-color: #f4f6fa; width:100%;border: 5px ;  padding: 50px;  margin: 20px;font-size: 250%; font-family: 'Rubik', sans-serif;font-style: italic;">
        <a> Project Title : {{project.title}}</a>
          <a> Project Abstract : {{project.abstract}}</a>

    </p>
    </div>


{% endblock %}