{% extends 'FocusApp/base.html' %}



{% block title %}
<title>Set Password</title>
{% endblock %}


{% block navbar %}

{% endblock %}

<!-- Login Page Content-->
{% block content %}
{% if messages %}
  <div class="text-danger">
    {% for message in messages %}

      <div  class="container align-self-center">
        <div  class="row justify-content-center">


          <label>  <b>{{ message }}</b></label>
          
        </div>
      </div>

    {% endfor %}
  </div>
{% endif %}
<section id="cover">
  <div class="modal-dialog modal-login" >
    <div class="modal-content">
      <div class="modal-header">        
        <h4 class="modal-title">Reset Password</h4>
      </div>
      <div class="modal-body">
        <form  method="post">
          {% csrf_token %}
          <div class="form-group">
            <i class="fa fa-lock"></i>
            <input type="password" class="form-control" placeholder="Password" required="required" name="password1" placeholder="Password" value="7Miyemedimi">  
          </div>
          <div class="form-group">
            <i class="fa fa-lock"></i>
            <input type="password" class="form-control" placeholder="Password" required="required" name="password2" placeholder="Password" value="7Miyemedimi">         
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block btn-lg" value="Reset">
          </div>
        
        </form>       
        
      </div>
      <div class="modal-footer">
        <a href="{% url 'login-page' %}">Do you remember your password?</a>
      </div>
    </div>
  </div>

</section>
{% endblock %}  