{% extends 'FocusApp/base.html' %}
{% load static %}
{% block title %}
<title>welcome page</title>{% endblock %}
{% block content %}



   <div class="container text-center">
       <div class="col-sm-12">



       <p  style=" background-color: #F5F5F5; width:100%;border: 0.05px solid 	lightsteelblue;  padding: 50px;  margin: 20px;font-size: 150%; font-family: 'Rubik', sans-serif;">

        <a style="font-size:250%; text-decoration: underline; font-weight:bold; ">FOCUS | Data Platform for Clinical Studies</a>
           <br>
            <br>

      <img src="{% static 'FocusApp/images/b.png' %}" style="max-width:90%;height:auto;border-radius:30%     " alt="focus">
      <br>
            <br>
      <br>
            Django is a free and open source web application framework written in Python. A framework is nothing more than a collection of modules that make development easier. They are grouped together, and allow you to create applications or websites from an existing source, instead of from scratch.

        This is how websites - even simple ones designed by a single person - can still include advanced functionality like authentication support, management and admin panels, contact forms, comment boxes, file upload support, and more.

        </p>





       </div></div>
       <div class="container text-center">

    </div>

        
{% endblock %}